@using TwitterSentimentService;
@{
    ViewBag.Title = "Retrieve Tweets";

}

<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/css/adduser.css" />
    <link rel="stylesheet" href="~/Content/css/site.css" />

</head>
<body>
    <p class="note">
        <i class="fa fa-lightbulb-o" style="font-size:28px;color:yellow"></i>
        Note: Make Sure to Submit the Right Information.
    </p>
    <form name="retrieve" action="Verify_retrievetweets" method="post">
        <div class="input-group">

            <input type="number" min="0" name="user_id" placeholder="User ID" required="">
        </div>
        <button class="btn btn-danger btn-block" name="submit" type="submit">Retrieve Tweets by User ID</button>

    </form>
    @{
        if(ViewBag.check == false)
        {
            <br />
        }
        else
        {
            if (ViewBag.tweet.Count == 0)
            {
                <br /><div class="w3-panel w3-pale-yellow w3-border">
                    <h3>Warning!</h3>
                    <p>No user found with this id OR The user don't have any tweets yet!!! Please Try Again.</p>
                    <br />
                </div>
            }

            else
            {
                <br />
                <table>
                    <tr style="background-color: gainsboro;">
                        <th>Tweet id</th>
                        <th>Tweet Text</th>
                        <th>Tweet Sentiement</th>
                        <th>Date of deploy</th>
                        <th>Case ID</th>
                    </tr>

                    @{ foreach (Tweets tweet in ViewBag.tweet)
                        {
                                        <tr>
                                            <th>@tweet.tweet_id</th>
                                            <th>@tweet.text</th>
                                            <th>@tweet.sentiment</th>
                                            <th>@tweet.date</th>
                                            <th>@tweet.case_id</th>
                                        </tr>
                                }
                                }
                            
                        </table>
            }
        }
}
    <br />

</body>
</html>

